.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid var(--badges);
  width: 100%;
  height: 72px;
  background: var(--inputs);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 450px;
  padding: 24px 64px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav_link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
.active {
  color: var(--button-hover);
}