.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.showMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  width: 145px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
}
.showMore:hover,
.showMore:focus{
    border: 1px solid var(--button-hover);
}
