.featuresContainer {
  border-radius: 10px;
  padding: 44px 80px;
  width: 631px;
  height: 588px;
  background: var(--inputs);
}
.title {
  margin-top: 100px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}
.line {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid var(--gray-light);
}
.vehicleElem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.vehicleText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
