:root {
	--main: #101828;
	--text: #475467;
	--white: #fff;
	--inputs: #f7f7f7;
	--badges: #f2f4f7;
	--gray: #6c717b;
	--gray-light: #dadde1;
	--button: #e44848;
	--button-hover: #d84343;
	--rating: #ffc531;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

/* Reset */
ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	display: flex;
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

input,
textarea {
	outline: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
}

input:checked {
	outline: none;
	border: none;
}

button {
	border: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
}

button:hover,
button:focus {
	border: none;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}