.main {
  width: 100%;
  height: calc(100vh - 72px);
  background-image: url('/img/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image: url('/img/hero_2x.png');
  }
}
.overlay {
  width: 100%;
  margin: 0 64px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
}
.subtitle {
    margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
}
.link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 40px;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  align-items: center;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
