.list {
  display: flex;
  gap: 8px;
  row-gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  max-width: 524px;
}
.elem {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 100px;
  padding-left: 18px;
  padding-right: 18px;
  height: 48px;
  background: var(--badges);
}
.image {
  margin-right: 8px;
}
.text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
