.main {
  padding: 48px 64px 80px;
}
.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}
.meta {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
  color: #555;
}
.rating {
  display: flex;
  text-decoration: underline;
}
.star {
  fill: #ffc531;
}
.nextSvg {
  margin-left: 4px;
}
.location {
  margin-left: 12px;
}
.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 28px;
}
.imageList {
  display: flex;
  flex-direction: row;
  gap: 48px;
  flex-wrap: wrap;
  margin-bottom: 28px;
}
.image {
  object-fit: cover;
  border-radius: 10px;
  width: 292px;
  height: 312px;
}
.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 60px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.buttonContainer {
  display: flex;
  gap: 40px;
  margin-bottom: 44px;
  border-bottom: 1px solid var(--gray-light);
}
.button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-bottom: 24px;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  background-color: var(--button);
  height: 5px;
}
.formContainer {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 641px;
  height: 588px;
}
